.page-enter-active, .page-leave-active
  transition: transform 0.5s ease-out, opacity 0.5s ease-out

.page-enter, .page-leave-to
  transform: translateY(25px)
  opacity: 0

.page-enter-to, .page-leave
  transform: translateY(0)
  opacity: 1
