@font-face {
  font-family: Lazer84;
  src: url("./fonts/Lazer84.ttf");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  background: #746dc8;
}
body {
  display: flex;
  align-content: center;
  justify-content: center;
  background: url("img/vertical-waves/vertical-waves.png");
  font-family: 'Geo', sans-serif;
  flex-flow: column nowrap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8cceff;
  padding: 0;
  margin: 0;
  font-family: 'Geo', sans-serif;
  text-transform: uppercase;
}
.header {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  flex: 1 0;
  padding: 1em;
  text-transform: uppercase;
}
nav .logo {
  position: relative;
  float: left;
}
nav .logo h1 {
  font-family: 'Lazer84';
  text-shadow: 2px 2px 1px #000;
  letter-spacing: 5px;
  color: #96ffd8;
  margin: 0;
}
nav .logo span {
  color: #000;
}
nav .links {
  float: right;
  display: inline;
}
nav .links a {
  margin-left: 1em;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  color: #8cceff;
  transition: all 0.2s ease-in;
}
nav .links a:hover {
  color: #ea8b92;
  text-shadow: 1px 1px 1px #000;
}
main {
  display: flex;
  flex: 1 100%;
  align-items: center;
  justify-content: center;
}
main .status {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
}
main .status .head {
  margin-bottom: 0.5em;
}
main .status .title {
  font-weight: bold;
}
main .status .entry {
  display: block;
  font-size: 80%;
}
.content {
  width: 100%;
  flex: 1 100%;
}
