@font-face {
  font-family: Lazer84;
  src: url("./fonts/Lazer84.ttf");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  background: #746dc8;
}
body {
  display: flex;
  align-content: center;
  justify-content: center;
  background: url("img/vertical-waves/vertical-waves.png");
  font-family: 'Geo', sans-serif;
  flex-flow: column nowrap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8cceff;
  padding: 0;
  margin: 0;
  font-family: 'Geo', sans-serif;
  text-transform: uppercase;
}
.header {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  padding: 1em;
  text-transform: uppercase;
}
nav .logo {
  position: relative;
  float: left;
}
nav .logo h1 {
  font-family: 'Lazer84';
  text-shadow: 2px 2px 1px #000;
  letter-spacing: 5px;
  color: #96ffd8;
  margin: 0;
}
nav .logo span {
  color: #000;
}
nav .links {
  float: right;
  display: inline;
}
nav .links a {
  margin-left: 1em;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  color: #8cceff;
  transition: all 0.2s ease-in;
}
nav .links a:hover {
  color: #96ffd8;
  text-shadow: 1px 1px 1px #000;
}
main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
main .content {
  display: flex;
  flex: 1 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .content .title {
  color: #fff;
  font-size: 175%;
}
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
footer section {
  padding: 1em;
}
footer section .head {
  margin-bottom: 0.5em;
}
footer section .title {
  font-weight: bold;
}
footer section .entry {
  display: block;
  font-size: 80%;
}
footer section .card {
  display: inline-block;
  margin-right: 1em;
  font-size: 80%;
}
footer section .card img {
  transition: all 0.2s ease-in-out;
  max-height: 40px;
}
footer section .card img:hover {
  transform: scale(1.1);
}
footer .tools {
  overflow-x: auto;
}
