@use "sass:list"
@use "sass:map"
@use "sass:color"

@mixin bg-linear($name, $bg-from, $bg-to)
  .bg-#{$name}
    background: $bg-to
    background: -webkit-linear-gradient(to top, $bg-from, $bg-to) !important
    background: linear-gradient(to top, $bg-from, $bg-to) !important

@mixin bg-diag($name, $bg-from, $bg-to)
  .bg-#{$name}-diag
    background: $bg-to
    background: linear-gradient(315deg, $bg-from, $bg-to) !important
    background: -moz-radial-gradient(315deg, $bg-from, $bg-to) !important
    background: -webkit-linear-gradient(315deg, $bg-from, $bg-to) !important

@mixin bg-radial($name, $bg-from, $bg-to)
  .bg-#{$name}-radial
    background: $bg-from
    // background: radial-gradient(to left, $bg-from, $bg-to) !important
    background: -moz-radial-gradient(top left, $bg-from, $bg-to) !important
    background: -webkit-radial-gradient(top left, $bg-from, $bg-to) !important

$theme-aura: ("name": "aura", "from": #5C268D, "to": #A97928)
$theme-aura-flat: ("name": "aura-flat", "from": hsl(271 25% 35% / 1), "to": hsl(38 25% 41% / 1))
$theme-surf: ("name": "surf", "from": lighten(#4389A2, 10%), "to": #A97928)
$theme-haze: ("name": "haze", "from": darken(#4389A2, 10%), "to": #5C258D)
$theme-haze-flip: ("name": "haze-flip", "from": #5C258D, "to": darken(#4389A2, 10%))
$theme-haze-flat: ("name": "haze-flat", "from": color.scale(#5C258D, $saturation: -25%), "to": color.scale(#4389A2, $saturation: -15%))
$theme-kye: (name: "kye", "from": #8360c3, "to": #459397)
$theme-sun: ("name": "sun", "from": #9B4D31, "to": #5C268D)
$theme-sunburst: ("name": "sunburst", "from": hsla(30, 78%, 47%, 1), "to": hsla(326, 52%, 44%, 1))
$theme-burning-orange: ("name": "burning-orange", "from": #FF416C, "to": #FF4B2B)
$theme-grapefruit: ("name": "grapefruit", "from": #904e95, "to": #e96443)
$theme-grapefruit-flip: ("name": "grapefruit-flip", "from": #e96443, "to": #904e95)
$theme-ruby: ("name": "ruby", from: darken(color.scale(#e96443, $saturation: -65%), 10%), "to": darken(color.scale(#cbcaa5, $saturation: -10%), 10%))
$theme-dawn: ("name": "dawn", "from": color.scale(#3B4371, $saturation: -50%), "to": #F3904F)
// $theme-metapolis: ("name": "metapolis", "from": color.scale(#f4791f, $saturation: -50%), "to": #659999)
$theme-metapolis: ("name": "metapolis", "from": #659999, "to": color.scale(#F3904F, $saturation: -50%))
// $theme-anwar: ("name": "anwar", "from": #cbcaa5, "to": #334d50)
$theme-anwar: ("name": "anwar", "from": #334d50, "to": #cbcaa5)
$theme-bighead: ("name": "bighead", "from": #4b134f, "to": #c94b4b)
$theme-bond: ("name": "bond", "from": #253031, "to": #315659)
$theme-raisin: ("name": "raisin", "from": color.scale(#342E37, $saturation: 7%), "to": color.scale(#253031, $saturation: 7%))
$theme-raisin-surface: ("name": "raisin-surface", "from": hsla(250,16%,42%,1), "to": hsla(182.9,27.3%,53.1%, 1))
// $theme-raisin-surface: ("name": "raisin-surface", "from": hsla(250,16%,42%,1), "to": hsla(12.9,27.3%,53.1%, 1))
$theme-glow: ("name": "glow", "from": darken(#4389A2, 10%), "to": lighten(color.scale(#e96443, $saturation: 0%), 5%))
// $theme-sunset: ("name": "sunset", "from": color.scale(#cbcaa5, $saturation: -10%), "to": hsla(326, 52%, 44%, 1))
$theme-sunset: ("name": "sunset", "from": darken(#4389A2, 10%), "to": color.scale(#cbcaa5, $saturation: -10%))
// $theme-sunset: ("name": "sunset", "from": color.scale(#4389A2, $saturation: 50%), "to": color.scale(#cbcaa5, $saturation: 50%))
$theme-horizon: ("name": "horizon", "from": #346a7e, "to": #d8adad)

$themes: ($theme-aura, $theme-aura-flat, $theme-surf, $theme-haze, $theme-haze-flip, $theme-haze-flat, $theme-kye, $theme-sun, $theme-sunburst, $theme-burning-orange, $theme-grapefruit, $theme-grapefruit-flip, $theme-ruby, $theme-dawn, $theme-metapolis, $theme-anwar, $theme-bighead, $theme-bond, $theme-raisin, $theme-raisin-surface, $theme-glow, $theme-sunset, $theme-horizon)

@each $theme in $themes
  $theme-name: map.get($theme, "name")
  $theme-from: map.get($theme, "from")
  $theme-to: map.get($theme, "to")
  $theme-gradients: (($theme-to, $theme-from), ($theme-from, $theme-to))

  @each $gradient in $theme-gradients
    $gradient-from: list.nth($gradient, 1)
    $gradient-to: list.nth($gradient, 2)

    @include bg-linear($theme-name, $gradient-from, $gradient-to)
    @include bg-diag($theme-name, $gradient-from, $gradient-to)
    @include bg-radial($theme-name, $gradient-from, $gradient-to)
