@use './backgrounds'
@use './transitions'

@font-face
  font-family: Lazer84
  src: url('../fonts/Lazer84.ttf')

html, body
  width: 100%
  height: 100%
  padding: 0
  margin: 0

  &::-webkit-scrollbar
    width: 0 !important
    display: none

html
  overflow: -moz-scrollbars-none
  -ms-overflow-style: none

.v-application
  background: transparent !important

body
  // position: relative
  // overflow-x: hidden
  // z-index: 100
  z-index: 1
  font-family: 'Oxygen', sans-serif !important
  // font-family: 'Varela Round', sans-serif
  // @extend .bg-sun-radial
  @extend .bg-raisin-radial

  background-position: center
  background-repeat: no-repeat
  background-size: cover

@media only screen and (max-width: 480px)
  main
    overflow: hidden

.theme--light.v-application,
.theme--dark.v-application
  background: none !important

.v-toolbar-title__placeholder
  overflow: visible

h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6
  padding: 0
  margin: 0
  font-family: 'Yesteryear', cursive !important
  text-shadow: 1px 2px 2px #000 !important

.shiny
  font-family: 'Yesteryear', cursive
  font-size: 1.75em !important
  font-weight: bold
  text-decoration: none
  text-transform: none
  transition: all 0.2s ease-in

  .v-btn__content
    text-shadow: 1px 1px 2px black !important

@function hex-to-rgb($hex)
  @return red($hex), green($hex), blue($hex)
