/* Smartphones (portrait and landscape) ----------- */
// @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
@media only screen and (max-device-width: 480px)
  .header
    flex-flow column nowrap

  .logo
    display flex
    flex 1 100%
    align-items center
    justify-content center
    flex-flow column nowrap
    margin-bottom 1em

  .menu
    justify-content center

/* Smartphones (landscape) ----------- */
// @media only screen and (min-width : 321px) {
// /* Styles */
// }

/* Smartphones (portrait) ----------- */
// @media only screen and (max-width : 320px) {
// /* Styles */
// }
