@require './colors'

@-webkit-keyframes slowbro
  from
    background-color bg-color
    background-position 0 0

  to
    background-color orange
    // background-color firebrick
    // background-color darksalmon
    // background-color #E4F98D
    // background-color limegreen
    background-position 50% 100% // 50% 100% // looks amazing

.slowbro
  animation slowbro 5s infinite ease-in-out alternate-reverse
