@require './colors'

@-webkit-keyframes slowbro
  from
    background-color bg-color
    background-position 0 0

  to
    background-color orange //firebrick
    background-position 50% 100% // 50% 100% // looks amazing

.slowbro
  animation slowbro 10s infinite ease-in-out alternate-reverse
