@require 'slowbro'

// @see https://codepen.io/lbebber/pen/ypgql

// random(mini, maxi)
//   return floor(math(0, 'random')*(maxi - mini + 1) + mini)
  // return floor(math(0, 'random') * (max - min + 1) + min)

.glitch
  color white
  font-size 100px
  position relative
  width 400px
  margin 0 auto

@keyframes noise-anim
  steps = 20
  for step in (1..20)
    //percentage(step * (1 / 20))
    //   clip rect(random(1, 100) + px, 9999px, random(1, 100) + px, 0)

.glitch:after
  content attr(data-text)
  position absolute
  left 2px
  text-shadow -1px 0 red
  top 0
  color white
  background black
  overflow hidden
  clip rect(0,900px,0,0)
  animation noise-anim 2s infinite linear alternate-reverse

@keyframes noise-anim-2
  $steps 20
  // @for $i from 0 through $steps
  //  #percentage($i*(1/$steps))
  //     clip rect(random(100)+px,9999px,random(100)+px,0)

.glitch:before
  content attr(data-text)
  position absolute
  left -2px
  text-shadow 1px 0 blue
  top 0
  color white
  background black
  overflow hidden
  clip rect(0,900px,0,0)
  animation noise-anim-2 3s infinite linear alternate-reverse

// https://codepen.io/daneden/pen/BizAg

.shine
  // position absolute
  // width 200px
  // top 50%
  // left 50%
  // height 60px
  // margin-left -100px
  text-align center
  text-shadow 0 1px 2px rgba(0,0,0,.1)
  -webkit-mask-image linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%)
  -webkit-mask-size 200%
  // animation shine 4s infinite, hover 2s alternate infinite ease-in-out
  animation shine 2s infinite ease-in-out

.hover
  animation hover 2s alternate infinite ease-in-out

.shine-hover
  @extends .shine

  opacity 0.8
  animation shine 4s infinite ease-in-out, hover 2s alternate infinite ease-in-out

  // &:after
  //   content ''
  //   position relative
  //   display block
  //   width 10px
  //   height 10px
  //   border 2px solid #fff
  //   border-top none
  //   border-left none
  //   left 50%
  //   margin-left -5px
  //   transform translateY(30%) rotate(45deg)
  //   animation hoverSmall 2s 1s alternate infinite ease-in-out

@-webkit-keyframes shine
  from
    -webkit-mask-position 150%

  to
    -webkit-mask-position -50%

@-webkit-keyframes hover
  from
    // transform translateY(-50%)
    transform translateY(0%)

  to
    // transform translateY(-75%)
    transform translateY(-25%)

@-webkit-keyframes hoverSmall
  from
    transform translateY(30%) rotate(45deg)

  to
    transform translateY(-10%) rotate(45deg)

.bg-burning-orange
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-wiretap
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-wiretap-reverse
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-bighead
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-bighead-reverse
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-celestial
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-dawn
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-dusk
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-dusk-reversed
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-grapefruit
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-grapefruit-reversed
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-starfall
  background: #F0C27B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-vice-city
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-anwar
  background: #334d50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-memariani
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-metapolis
  background: #659999;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.bg-kye
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

