@require './colors'

@-webkit-keyframes slowbro
  // from
  0%
    // background-color #364958
    background-color #736B92 // best / subtle purple
    // background-color #4F517D // dark + bold purple
    // background-color #443847 // alt subtle purple
    // background-color #9575CD
    // background-color bg-color
    // background-color #512DA8
    // background-color #4A148C
    // background-position 0 0

  50%
  //   // background-color orange
  //   // background-color firebrick
  //   // background-color darksalmon
  //   background-color #E57373
  //   // background-color #E4F98D
  //   // background-color limegreen
  //   // background-position 25% 50%
    // background-color #A1887F
    // background-color #E57373
    // background-color #3B6064
    // background-color #7D5C65 // ruby red
    // background-color #183642 // dark blue
    // background-color #548687 // teal
    // background-color #436C6D // dark teal
    background-color #66706B // subtle teal

  100%
    // background-color #9E6C53 // orangish-brown
    // background-color #8B635C // burgandy
    background-color #60594D // brown ***
    // background-color #7E846B // alt army green
    // background-color #A5AE9E // light grey green
    // background-color #646F58 // army green
    // background-color #7D8570 // grey green
    // background-color #19535F // dark teal
    // background-color #546E7A
    // background-position 50% 100%

.slowbro
  // animation slowbro 10s infinite ease-in-out alternate-reverse
  animation slowbro 30s infinite ease-in-out alternate-reverse
  // animation slowbro 5s infinite linear normal
