@require './colors'

@-webkit-keyframes slowbro
  // from
  0%
    background-color bg-color
    // background-position 0 0

  // to
  50%
    // background-color orange
    // background-color firebrick
    // background-color darksalmon
    background-color #E57373
    // background-color #E4F98D
    // background-color limegreen
    // background-position 25% 50%

  100%
    background-color #546E7A
    // background-position 50% 100%

.slowbro
  // animation slowbro 10s infinite ease-in-out alternate-reverse
  animation slowbro 30s infinite ease-in-out alternate-reverse
  // animation slowbro 5s infinite linear normal
