.fade-enter-active, .fade-leave-active
  transition opacity .5s

// .fade-enter-to, .fade-leave
//   opacity 1

.fade-enter, .fade-leave-to
  opacity 0

// ---

.slither-enter-active, .slither-leave-active
  // transition transform 3s ease-out
  // transition transform 0.5s ease-out
  transition all 0.5s ease-out
	// transition opacity .5s

.slither-enter, .slither-leave-to
  // transform translateX(-100%)
  // transform translateX(-25%)
  transform translateY(5%)
	opacity 0

.slither-enter-to, .slither-leave
  // transform translateX(0)
  transform translateY(0)
  opacity 1

// ---

.page-enter-active {
  animation: coming 0.5s;
  animation-delay: .25s;
  opacity: 0;
}
.page-leave-active {
  animation: going 0.5s;
}

@keyframes going {
  from {
    // transform: translateX(0);
    transform: translateY(0);
  }
  to {
    // transform: translateX(-50px);
    transform: translateY(25px);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    // transform: translateX(-50px);
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
